.animation {
  margin-top: 5rem;
  background-color: #a18383;
  color: white;
  text-align: center;
  line-height: 1.5;
  height: 350px;
}

.animation-text {
  margin: auto;
  width: 500px;
  margin-top: 5rem;
  position: relative;
  animation-name: text;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.animation-header {
  margin: auto;
  height: 50px;
  position: relative;
  animation: head 3s forwards, blink 500ms 3s infinite;
}

.animation-btn {
  display: inline-block;
  color: white;
  background-color: #3c1414;
  text-decoration: none;
  padding: 10px 20px;
  border: white 1px solid;
  margin-top: 5px;
  opacity: 0;
  animation-name: button;
  animation-duration: 3s;
  animation-delay: 2500ms;
  animation-fill-mode: forwards;
}

@keyframes text {
  0% { left: -2000px; }
  100% { left: 0; }
}

@keyframes button {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes head {
  from { top: -50px; }
  to { top: 90px; }
}

@keyframes blink {
  from { color: white; }
  to { color: red; }
}
